*.o
*.so
*.log
*.exe
__pycache__
build/
ext_win64/
local/
scripts/
AGENTS.md
claude.md
dev_notes.md
dist/
tmp/
**/*.log
unit_test/*.exr
unit_test/inv_test/
unit_test/result/
.ipynb_checkpoints
.vscode/
.claude
.slangtorch_cache/
.rayd_slang_cache/
tests/slang/test_interop_gen.cpp